$white: #ffff;
$blue: #2b3a42;
$theme-color: #8E4DFF;

$color-bg-dark: #2E2F32;
$color-bg-dark2: #262626;
$color-bg-light: #E0E7F6;
$color-switch-dark: #16171A;
$color-switch-light: #FFFFFF;
$color-text-dark: rgba(#4F545E, 0.4);
$color-text-light: rgba(#CCD7EA, 0.8);
$background-color: #2E2F32;
$background-color2: #262626;










